<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Blog</title>
</head>
<body class="font-sans mx-auto">
    <nav class="bg-gray-800 text-white p-4 ">
        <ul class="flex justify-between items-center mx-auto w-7/12">
            
            <li class="">
                <a href="{% url 'my_app:index' %}">Home</a>
            </li>
            
            
            {% if user.is_authenticated %}
                
                <li class="flex justify-between self-end items-center">
                    <span class="mr-2">Hello, {{ user.username }}</span>
                    <form action="{% url 'forms:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="bg-blue-500 text-white p-2 w-full">Logout</button>
                    </form>
                </li>
            {% else %}
                <li class="flex justify-between self-end items-center">
                    <a href="{% url 'forms:register' %}">Register</a> /
                    <a href="{% url 'forms:login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
    
</body>
</html>