{% extends "static/base.html" %}

{% block content %}
    
    {% if user.is_authenticated %}
        <h1 class="text-3xl text-center font-bold m-10">POSTS</h1>
        <div class="w-7/12 mx-auto" >
            {% for post in posts %}
                <div class="p-4 border-2">
                    <h3 class="text-xl font-bold">{{ post.title }}</h3>
                    <p>{{ post.body }}</p>
                    <p>{{ post.date_posted }}</p>
                </div>
            {% empty %}
                <span>There is no posts for now</span>
            {% endfor %}
        </div>

    {% else %}
        <div class="text-center text-7xl mt-10">
            <h1 class=" font-bold">Welcome!</h1>
            <p class="text-xl">Please login or register to view posts</p>
            <a href="{% url 'forms:login' %}" >
                <button type="button" class="text-white bg-gray-800 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-dark-800 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Login</button>
            </a>
           
            <a href="{% url 'forms:register' %}" >
                <button type="button" class="text-white bg-gray-800 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-dark-800 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Register</button>
            </a>
        </div>
    {% endif %}
    

{% endblock %}