{% extends "base.html" %}

{% block content %}

<h1 class="text-3xl text-center">Register</h1>
<div class="w-7/12 mx-auto" >
    <form action="{% url 'forms:register' %}" method="POST">
        {% csrf_token %}
        <div class="p-4">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="border-2 p-2 w-full">
        </div>
        <div class="p-4">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="border-2 p-2 w-full">
        </div>
        <div class="p-4">
            <label for="password1">Password</label>
            <input type="password" name="password1" id="password1" class="border-2 p-2 w-full">
        </div>
        <div class="p-4">
            <label for="password2">Confirm Password</label>
            <input type="password" name="password2" id="password2" class="border-2 p

{% endblock content %}